<div class="modal-header">
  <h4 class="modal-title">{{idEmpleado}}!</h4>
  <p-toast [style]="{marginTop: '80px'}"></p-toast>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="registerForm" (ngSubmit)="guardarUsuario()">
    <div class="form-group">
      <label for="usuario">Correos</label>
      <p-dropdown [options]="correos" [style]="{'width':'100%'}" formControlName="usuario" id="usuario"
                  placeholder="Ingrese un correo"></p-dropdown>
    </div>

  <div class="form-group">
    <label for="grupo">Grupo</label>
    <p-dropdown [options]="grupos" [style]="{'width':'100%'}" formControlName="id_grupo" id="grupo"
                placeholder="Ingrese un grupo"></p-dropdown>

  </div>
  <input type="text" formControlName="id_empleado" >
  <button class="btn btn-success" [disabled]="loading" type="submit">Guardar</button>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
</div>


