<div class="container-fluid mt-5">
  <div class="p-grid">
    <div class="p-col-12">
      <p-toast [style]="{marginTop: '80px'}"></p-toast>
      <p-card header="Asignaciones" styleClass="ui-card-shadow">
        <p-table #dt [value]="empleados" [paginator]="true" [rows]="10" [columns]="cols" selectionMode="multiple"
                 [(selection)]="selectedEmpleados" [responsive]="true">
          <ng-template pTemplate="caption">
            <div style="text-align: right">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText placeholder="Buscar"
                     (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto" class="form-control">
            </div>
            <br>
            <div class="ui-helper-clearfix">
              <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Descargar Todo" (click)="dt.exportCSV()"
                      style="float:left"></button>
              <button type="button" pButton icon="fa fa-file" iconPos="left" label="Solo Selección"
                      (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>
            </div>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>
            <tr>
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" class="form-control" placeholder="Buscar por Nombre">
                <input *ngSwitchCase="'email'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" class="form-control" placeholder="Buscar por Email">
                <input *ngSwitchCase="'telefono_movil'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" class="form-control" placeholder="Buscar por Telefono">
                <p-dropdown *ngSwitchCase="'tipo_usuario'" [options]="tipoUsuarios" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-empleado>
            <tr [pSelectableRow]="empleado">
              <td>{{empleado.nombre+" "+empleado.apellido_paterno}}</td>
              <td>{{empleado.email}}</td>
              <td>{{empleado.telefono_movil}}</td>
              <td>{{empleado.puesto}}</td>
              <td>{{empleado.tipo_usuario}}</td>
              <td *ngIf="empleado.id_tipo == 2">
                <button class="btn btn-sm btn-primary">Asignar Ejecutivo</button>
              </td>
              <td *ngIf="empleado.id_tipo == 1" >
                <button type="button" (click)="openModal(empleado.id, empleado.id_subarea)" pButton icon="pi pi-info-circle" label="Asignar Administrativo"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>
</div>
